/* 
color picking in HEX

Word light: #F3FBFF 
Word Dark: #6997B1

light bg: #EAFAFF
Dark bg: #A1D3E1

orgran: #F6A686
light: #F8ECD6

*/

:root{
    --word-light: #F3FBFF ;
    --word-dark: #6997B1;
    --light-bg: #EAFAFF ;
    --dark-bg: #A1D3E1 ;
    --dark-bg-alpha: #A1D3E1D2 ;
    --orgran: #F6A686 ;
    --light: #F8ECD6 ;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: var(--light-bg);
    /* Default font */
    font-family: 'Microsoft JhengHei';
    /* font-family: "Noto Sans HK", sans-serif; */
}


/* Class for change color of nav and bottom bar */
svg {
    fill: currentColor;
}

.color-light {
    color: var(--word-light);
}

.color-dark {
    color: var(--word-dark);
}

@keyframes fadeInUP {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.fade-in-UP {
    animation-name: fadeInUP;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.fade-in-UP-delay {
    animation-name: fadeInUP;
    animation-duration: 1.2s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

/* Normal NAV Bar style (Using ID) */
#nav-name {
    color: var(--word-dark);
}

#nav-links-icon {
    color: var(--word-dark);
}

#home-nav {
    background-color: transparent;
}

#normal-nav {
    background-color: var(--light-bg);
}

/* HOME NAV BAR */

.nav {
    position: fixed;
    padding: 20px 0px;
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nav-name {
    letter-spacing: 10px;
    font-size: 20px;
    margin-left: 40px;

    transition: color 0.8s ease-out;
}

.home-nav-links {
    text-decoration: none;
    list-style: none;
    width: 300px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;

}

.nav-links-icon {
    width: 20px;
    height: 20px;

    transition: color 0.8s ease;
}

@media (max-width: 480px){
    .home-nav {
        flex-direction: column-reverse;
        padding-top: 30px;
    }
    .home-nav-name {
        display: none;
    }
    .home-nav-links {
        margin: 0;
        padding: 0;
    }
    .nav-links-icon {
        width: 25px;
        height: 25px;
    
        transition: color 0.8s ease;
    }
}


/* BOT BRAND */

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    width: 100vw;
    position: fixed;
    top: calc(100vh - 121px);
}

.copyright {
    margin: 10px 0px 0px 0px;
    font-size: 12px;
    font-family: "EB Garamond", serif;

    transition: color 0.8s ease-out;
}

.transition-gradient {
    height: 20vh;
    width: 100vw;
    background-image: linear-gradient(180deg, var(--dark-bg), var(--light-bg));
}

.brand-list {
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.brand-icon {
    width: 30px;
    height: 30px;

    transition: all 0.3s ease-out;
    /* transition: transform 0.2s ease-out; */
}

.brand-icon:hover {
    transform: translateY(-6px);
}

@media (max-height: 480px){
    .bottom {
        position: relative;
        top: 0;
    }
}

.hero1 {
    padding-top: 70px;
    padding-bottom: 121px;
    height: calc(100vh - 70px - 121px);
    background-image: linear-gradient(180deg, var(--orgran) 100px, var(--light) calc(110px + 13vh), var(--dark-bg) calc(70px + 150px + 15vh));
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    color: var(--word-light);
}

.hero1-logo {
    margin-bottom: 10vh;
    margin-top: 13vh;
}

.hero1-name {
    text-align: center;
}

.hero-name-ch {
    letter-spacing: 30px;
    margin-left: 30px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-name-en {
    font-family: "EB Garamond", serif;
    letter-spacing: 15px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 480px){
    .hero-name-en {
        letter-spacing: 10px;
        margin-left: 10px
    }
}

.hero2 {
    height: 100vh;
    width: 100%;

    color: var(--word-dark);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.hero2-text {
    text-align: center;
    letter-spacing: 20px;
    margin-left: 30px;
    font-size: 20px;

    opacity: 0;
}

.hero2-img {
    width: 30%;
    max-width: 450px;
    min-width: 200px;
    margin-top: 30px;

    box-shadow: 0 0 30px 15px var(--dark-bg-alpha);
    
    opacity: 0;
}

@media (max-width: 480px){
    .hero2-text {
        letter-spacing: 7px;
        margin-left: 7px;
        font-size:20px;
    }
}

.active {
    pointer-events: none;
    cursor: default;
 }

.inactive {
    opacity: 0.5;
    transition: all 0.2s ease-out;
}

.inactive:hover {
    opacity: 1;
}